<div class="register-container">
  <h1>Create your Account</h1>

  <form (ngSubmit)="onsubmit()">
    <input
      type="email"
      name="email"
      [(ngModel)]="email"
      placeholder="Email"
      required
    />

    <div class="password-wrapper">
      <input
        type="{{ showPassword ? 'text' : 'password' }}"
        name="password"
        [(ngModel)]="password"
        placeholder="Password"
        required
      />

      <span class="toggle-password" (click)="togglePasswordVisibility()">
        @if (!showPassword) {
          <img
            src="../../../assets/icons/eye.png"
            alt="Show password"
          />
        } @else {
          <img
            src="../../../assets/icons/eye-crossed.png"
            alt="Hide password"
          />
        }
      </span>
    </div>

    <div class="password-requirements">
      <ul>
        <li>At least 8 characters</li>
        <li>Uppercase & lowercase letters</li>
        <li>At least one number</li>
        <li>At least one special character</li>
      </ul>
    </div>

    <button type="submit">Register</button>
  </form>

  <p>
    Already have an account?
    <a class="sign-in" routerLink="/login">Sign in</a>
  </p>
</div>
