/.venv
/__pycache__
/merkaz_backend/routes/__pycache__
/merkaz_backend/__pycache__
/merkaz-frontend/.angular
/data
/logs
*.pyc


/merkaz_backend/__pycache__/
/merkaz_backend/routes/__pycache__/
/merkaz_backend/.pytest_cache/
/merkaz_backend/logs/
/merkaz_backend/data/

/merkaz-frontend/.angular/
/merkaz-frontend/node_modules/
/merkaz-frontend/dist/
/merkaz-frontend/.cache/

/data/
.logs/
.DS_Store
/files_to_share
merkaz_backend/ngrok.yml
/uploads
/trash
/merkaz_server