/.venv
/__pycache__
/merkaz_backend/routes/__pycache__
/merkaz_backend/__pycache__
/merkaz-frontend/.angular
/data
/logs
*.pyc


/merkaz_backend/__pycache__/
/merkaz_backend/routes/__pycache__/
/merkaz_backend/.pytest_cache/
/merkaz_backend/logs/
/merkaz_backend/data/

/node_modules/

/merkaz-frontend/.angular/
/merkaz-frontend/node_modules/

/merkaz-frontend/.cache/

/data/
.logs/
.DS_Store
/files_to_share
merkaz_backend/ngrok.yml
/uploads
/trash
/merkaz_server
vite.config.ts
merkaz_backend/config/config.py
merkaz_backend/large logo.ico
merkaz_backend/favicon.ico
