:host {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: var(--bg-color);
}
.mat-card-header {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.mat-card-title{
  color: var(--text-color);
}
.login-container {
  background-color: var(--card-bg);
  padding: 40px;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.15);
  max-width: 400px;
  text-align: center;
  height: 500px;
  color: var(--text-color);
}
.login-form {
  width: 100%;
  height: auto;
  margin-top: 60px;
}


.full-width {
  width: 300px;
}

.button{
  width: 100%;
  margin-top: 20px;
  background-color: var(--primary-buttons);
  color: white !important;
}
.sub{
  margin-top: 30px;
}
.forgot-pass {
  font-size: 14px;
  cursor: pointer;
  color: #1a73e8;
  text-decoration: underline;
}
.create {
  font-size: 14px;
  cursor: pointer;
  color: #1a73e8;
  text-decoration: underline;
}
.have-account{
  color: var(--text-color);
}
.login-form input {
    color: var(--text-color);
    
}
.sub{
  margin-top: 20px;
}
.forgot-pass {
  font-size: 14px;
  cursor: pointer;
  color: #1a73e8;
  text-decoration: underline;
}
.create {
  font-size: 14px;
  cursor: pointer;
  color: #1a73e8;
  text-decoration: underline;
}