<mat-card class="login-container">
  <mat-card-header class="mat-card-header">
    <mat-card-title>Sign In</mat-card-title>
    <mat-card-subtitle >
      to access your files
    </mat-card-subtitle>
   
  </mat-card-header>

  <form  (ngSubmit)="onSubmit()" #loginForm="ngForm" class="login-form">
    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Email</mat-label>
      <input
        matInput
        type="email"
        name="email"
        [(ngModel)]="email"
        required
        autocomplete="on"
        
      />
    </mat-form-field>

    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Password</mat-label>
      <input
        matInput
        [type]="showPassword ? 'text' : 'password'"
        name="password"
        [(ngModel)]="password"
        placeholder="Password"
        required
      />

      <button
        mat-icon-button
        matSuffix
        type="button"
        (click)="togglePasswordVisibility()"
      >
        @if (!showPassword) {
          <mat-icon>visibility</mat-icon>
        } @else {
          <mat-icon>visibility_off</mat-icon>
        }
      </button>

  </mat-form-field>
    <button mat-button type="submit" class="button">Login</button>
  </form >

  <mat-card-subtitle>
    <mat-label class="forgot-pass" routerLink="/forgot-password">Forgot password?</mat-label>
  </mat-card-subtitle>
  <mat-card-subtitle>
    Don't have an account?
    <mat-label class="create" routerLink="/register">Create one</mat-label>
  </mat-card-subtitle>

</mat-card>
