:host {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: var(--bg-color);
}
.mat-card-header {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.mat-card-title{
  color: var(--text-color);
}
.login-container {
  background-color: var(--card-bg);
  padding: 40px;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.15);
  max-width: 400px;
  width: 90%; 
  text-align: center;
  color: var(--text-color);
  margin-top: 20px; 
  margin-bottom: 20px; 
}
.login-form {
  width: 100%;
  height: auto;
  margin-top: 30px;
}


.full-width {
  width: 100%;;
}

.button{
  width: 100%;
  margin-top: 20px;
  background-color: var(--primary-buttons);
  color: white !important;
}
.sub{
  margin-top: 20px;
}
.forgot-pass {
  font-size: 14px;
  cursor: pointer;
  color: #1a73e8;
  text-decoration: underline;
}
.create {
  font-size: 14px;
  cursor: pointer;
  color: #1a73e8;
  text-decoration: underline;
  line-height: 1;
}
.have-account{
  color: var(--text-color);
}
.login-form input {
    color: var(--text-color);
    
}
@media (max-width: 600px) {
 .login-container {
    padding: 20px;
    border-radius: 0;
    max-width: 90%;
    width: 90%;
    box-shadow: none;
    height: 100%;
    margin: 0;
    height: 50%;
 }
 :host {
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;
    height: 100%;
 }
}