:host {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
}
.mat-card-header {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login-container {
  background-color: white;
  padding: 40px;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.15);
  max-width: 400px;
  text-align: center;
  height: 500px;
}

.login-form {
  width: 100%;
  height: auto;
  margin-top: 80px;
}


.full-width {
  width: 300px;
}

.button{
  width: 100%;
  margin-top: 20px;
  background-color: #1a73e8;
  color: white !important;
}
.sub{
  margin-top: 20px;
}
.forgot-pass {
  font-size: 14px;
  cursor: pointer;
  color: #1a73e8;
  text-decoration: underline;
}
.create {
  font-size: 14px;
  cursor: pointer;
  color: #1a73e8;
  text-decoration: underline;
}