
.content-wrapper {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 70vh;
  max-height: 70vh;
  overflow-y: auto;
}
.table-wrapper {
  overflow-y: auto;
  flex: 1;
}

.content-wrapper::-webkit-scrollbar {
  width: 8px;
}

.content-wrapper::-webkit-scrollbar-thumb {
  background: var(--scroll-color);
  border-radius: 4px;
}

.content-wrapper::-webkit-scrollbar-thumb:hover {
  background: #999;
}
.log-item {
    border: 1px solid var(--table-border-color);
    border-radius: 8px;
    padding: 10px;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--card-bg);
}
.log-details h2 {
    margin: 0 0 8px 0;
    font-size: 18px;
    font-weight: 500;
    color: var(--text-color);
}
.log-details p {
    margin: 0;
    color: var(--placeholder-color);
    font-size: 14px;
}
.download-btn {
    background-color: var(--primary-buttons);
    color: var(--text-color);
    padding: 10px 20px;
    border-radius: 4px;
    text-decoration: none;
    font-size: 14px;
    font-weight: 500;
}
.download-btn:hover {
    background-color: #185abc;
}
@media (max-width: 768px) {
  .content-wrapper {
    flex: 1;
    overflow-y: auto;
    width: 100%;
    padding-top: 0; 
  }
}