<div class="container">
  <div class="header">
    <h1>Useful Links</h1>
    <a routerLink="/dashboard" class="back-link">Back to Dashboard</a>
  </div>

  <div class="content-wrapper">
    <div class="table-wrapper">
      <table>
        <thead>
          <tr>
            <th>Title</th>
            <th>Description</th>
          </tr>
        </thead>
        <tbody>
          <tr class="clickable-row" (click)="openLink('https://www.noteshare.live')">
            <td>
              <span class="link-title">NoteShare</span>
            </td>
            <td>
              <span class="link-description">האתר הרשמי לשיתוף סיכומים לסטודנטים</span>
            </td>
          </tr>
          <tr class="clickable-row" (click)="openLink('https://www.bis.org.il/copy-of-%D7%96%D7%9B%D7%95%D7%99%D7%95%D7%AA-%D7%90%D7%A7%D7%93%D7%9E%D7%99%D7%95%D7%AA')">
            <td>
              <span class="link-title" dir="rtl">אגודת סטודנטים בר אילן</span>
            </td>
            <td>
              <span class="link-description" dir="rtl">סיכומי עזר בר אילן</span>
            </td>
          </tr>
          <tr class="clickable-row" (click)="openLink('https://www.derivative-calculator.net/')">
            <td>
              <span class="link-title" >Derivative Calculator</span>
            </td>
            <td>
              <span class="link-description" dir="rtl">מחשבון נגזרות מקוון עם פיתוח ושלבי חישוב</span>
            </td>
          </tr>
          <tr class="clickable-row" (click)="openLink('https://www.integral-calculator.com/')">
            <td>
              <span class="link-title" >Integral Calculator</span>
            </td>
            <td>
              <span class="link-description" dir="rtl">מחשבון אינטגרלים מקוון עם פיתוח ושלבי חישוב</span>
            </td>
          </tr>
          <tr class="clickable-row" (click)="openLink('https://www.sci-hub.st/')">
            <td>
              <span class="link-title" >Sci-Hub</span>
            </td>
            <td>
              <span class="link-description" dir="rtl">מאגר מחקרים מקוון</span>
            </td>
          </tr>
          <tr class="clickable-row" (click)="openLink('https://notebooklm.google.com/')">
            <td>
              <span class="link-title" dir="rtl">NotebookLM</span>
            </td>
            <td>
              <span class="link-description" dir="rtl">אתר לשילוב בינה מלאכותית עם סיכומים</span>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

