
.content-wrapper {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 60vh;
  max-height: 60vh;
  overflow-y: auto;
}
.table-wrapper {
  max-height: 400px; 
  margin-bottom: 20px;
  border: 1px solid var(--table-border-color);
}

.content-wrapper::-webkit-scrollbar {
  width: 8px;
}

.content-wrapper::-webkit-scrollbar-thumb {
  background: var(--scroll-color);
  border-radius: 4px;
}

.content-wrapper::-webkit-scrollbar-thumb:hover {
  background: #999;
}

.deny-btn {
  margin-left: 5px;
}
